
<app-card [show]="cardsVisable[0]" [value]="cardsValues[0]" (visiable)="checkValue($event)"></app-card>
<app-card [show]="cardsVisable[1]" [value]="cardsValues[1]" (visiable)="checkValue($event)"></app-card>
<app-card [show]="cardsVisable[2]" [value]="cardsValues[2]" (visiable)="checkValue($event)"></app-card>
<app-card [show]="cardsVisable[3]" [value]="cardsValues[3]" (visiable)="checkValue($event)"></app-card>
<app-card [show]="cardsVisable[4]" [value]="cardsValues[4]" (visiable)="checkValue($event)"></app-card>
<app-card [show]="cardsVisable[5]" [value]="cardsValues[5]" (visiable)="checkValue($event)"></app-card>
<app-card [show]="cardsVisable[6]" [value]="cardsValues[6]" (visiable)="checkValue($event)"></app-card>
<app-card [show]="cardsVisable[7]" [value]="cardsValues[7]" (visiable)="checkValue($event)"></app-card>
